<%- include('partials/header') -%>
<div class="">
  <div class="mt-5">
    <div>
      <% if (messages.deleteSuccess) { %>
        <div class="alert alert-error shadow-lg">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <span><%= messages.deleteSuccess %></span> 
          </div>
        </div>
      <% } %>

      <% if (messages.deleteFail) { %>
        <div class="alert alert-error shadow-lg">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <span><%= messages.deleteFail %></span> 
          </div>
        </div>
      <% } %>

      <h3 class="text-2xl">Account Info</h3>
      <p><strong>User Name</strong>: <%= user.userName %></p>
      <p><strong>Email</strong>: <%= user.email %></p>
      <a class="btn btn-primary mt-4" href="/profile">Back to Profile</a>
    </div>
    <div class= "grid place-items-center">
        <h3 class="text-2xl text-error">Are you sure you want to delete your Account?</h3>
        <span class="text-error" >If yes then enter the credentials below and click submit to delete your account</span>
        <form action="/deleteAcct?_method=DELETE" method="POST" class="object-center">
            <div class="form-control">
                <label class="label" for="exampleInputEmail1">
                  <span class="label-text">Email</span>
                </label>
                <input 
                    type="email" 
                    placeholder="email" 
                    class="input input-bordered"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="email" />
            </div>
            <div class="form-control">
                <label class="label" for="exampleInputUsername1">
                  <span class="label-text">Username</span>
                </label>
                <input 
                    type="userName" 
                    placeholder="Username" 
                    id="exampleInputUsername1"
                    class="input input-bordered"
                    name="userName" 
                    />
            </div>  
            <button class="btn btn-error mt-4" type="submit">Delete Account</button>
        </form>

    </div>
           
  </div>
</div>
<%- include('partials/footer') -%>