<%- include('partials/header') -%>
<div class="">
  <div class="mt-5">
    <div>
      <% if (messages.postEditError) { %>
        <div class="alert alert-error shadow-lg">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span><%= messages.postEditError %></span>
          </div>
        </div>
      <% } %>
      <h3 class="text-2xl">Account Info</h3>
      <p><strong>User Name</strong>: <%= post.user.userName %></p>
      <p><strong>Email</strong>: <%= post.user.email %></p>
    </div>

      <div class="grid grid-cols-2 gap-4 m-4">

        <!-- Form for submitting a review -->
        <div class="mt-5">
          <h2 class="text-3xl font-bold">Edit your review</h2>
          <form action="/post/editPost/<%= post.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
            
            <div class="form-control w-full max-w-xs">
              <label for="title" class="label">
                <span class="label-text">Title</span>
              </label>
              <input type="text" placeholder="Review Title" class="input input-bordered input-primary w-full max-w-xs" id="title" name="title" value="<%= post.title %>"/>
            </div>

            <div class="form-control">
              <label for="summary" class="label">
                <span class="label-text">Summary</span>
              </label> 
              <textarea class="textarea textarea-primary" placeholder="Review Summary" id="summary" name="summary"><%= post.summary %></textarea>
            </div>

            <div class="form-control">
              <label for="review" class="label">
                <span class="label-text">Review</span>
              </label> 
              <textarea class="textarea textarea-primary" placeholder="Review" id="review" name="review"><%= post.review %></textarea>
            </div>

            <div class="form-control w-full max-w-xs">
              <label for="category" class="label">
                <span class="label-text">Category</span>
              </label>
              <select class="select select-primary" id="category" name="category">
                <option disabled selected>Pick a category</option>
                <option value="Food and Drink" <%= post.category == 'Food and Drink' ? 'selected' : ''%>>Food and Drink</option>
                <option value="Experience" <%= post.category == 'Experience' ? 'selected' : ''%>>Experience</option>
                <option value="Gaming" <%= post.category == 'Gaming' ? 'selected' : ''%>>Gaming</option>
                <option value="Movie" <%= post.category == 'Movie' ? 'selected' : ''%>>Movie</option>
                <option value="Music" <%= post.category == 'Music' ? 'selected' : ''%>>Music</option>
                <option value="Podcast" <%= post.category == 'Podcast' ? 'selected' : ''%>>Podcast</option>
                <option value="Product" <%= post.category == 'Product' ? 'selected' : ''%>>Product</option>
                <option value="Restaurant" <%= post.category == 'Restaurant' ? 'selected' : ''%>>Restaurant</option>
                <option value="Service" <%= post.category == 'Service' ? 'selected' : ''%>>Service</option>
                <option value="TV Show" <%= post.category == 'TV Show' ? 'selected' : ''%>>TV Show</option>
                <option value="Venue" <%= post.category == 'Venue' ? 'selected' : ''%>>Venue</option>
              </select>
            </div>

            <div class="form-control w-full max-w-xs"> 
              <label for="rating" class="label">
                <span class="label-text">Rating</span>
              </label>
              <div class="rating rating-lg rating-half">
                <input type="radio" name="rating" value="0" class="rating-hidden" />
                <input type="radio" name="rating" value="1" class="bg-yellow-500 mask mask-star-2 mask-half-1" />
                <input type="radio" name="rating" value="2" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                <input type="radio" name="rating" value="3" class="bg-yellow-500 mask mask-star-2 mask-half-1" checked />
                <input type="radio" name="rating" value="4" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                <input type="radio" name="rating" value="5" class="bg-yellow-500 mask mask-star-2 mask-half-1" />
                <input type="radio" name="rating" value="6" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                <input type="radio" name="rating" value="7" class="bg-yellow-500 mask mask-star-2 mask-half-1" />
                <input type="radio" name="rating" value="8" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                <input type="radio" name="rating" value="9" class="bg-yellow-500 mask mask-star-2 mask-half-1" />
                <input type="radio" name="rating" value="10" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
              </div>
            </div>

            <div class="mt-4">
              <h3 class="font-bold">Current Image for Review (See Below to Change)</h3>
              <img class="img-fluid" src="<%= post.image%>" />
            </div>

            <div class="form-control">
              <label for="imgUpload" class="label">
                <span class="label-text font-bold text-secondary">Change Image</span>
              </label> 
              <input type="file" class="form-control" id="imageUpload" name="file"/>
            </div>
            <button type="submit" class="btn btn-primary mt-2" value="Upload">Submit</button>
          </form>
        </div>
      </div>
    </div>       
</div>       
<%- include('partials/footer') -%>