<%- include('partials/header') -%>
<div class="">
  <div>
    <% if (messages.postEditError) { %>
      <div class="alert alert-error shadow-lg">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <span><%= messages.postEditError %></span>
        </div>
      </div>
    <% } %>
    <div class="grid grid-cols-8">
      <div class="col-span-4 md:col-span-3 lg:col-span-2 border-2 py-2 px-2">
        <h3 class="text-2xl">Account Info</h3>
        <p><strong>User Name</strong>: <%= post.user.userName %></p>
        <p><strong>Email</strong>: <%= post.user.email %></p>
      </div>
    </div>
  </div>

  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-2">
      <div class="border-t border-accent"></div>
    </div>
  </div>

  <div class="">
    <form action="/post/editPost/<%= post.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
      <div>
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
              <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6">Review Header</h3>
                <p class="mt-1">Title your review and give a short summary</p>
              </div>
            </div>
            <div class="mt-5 md:col-span-2 md:mt-0">
                <div class="form-control shadow sm:overflow-hidden sm:rounded-md">
                  <div class="space-y-6 bg-neutral px-4 py-5 sm:p-6">
                    <div class="grid grid-cols-3 gap-6">
                      <div class="form-control w-full max-w-lg grid col-span-3">
                        <label for="title" class="label">
                          <span class="label-text">Title</span>
                        </label>
                        <input type="text" placeholder="Review Title" class="input input-bordered input-primary w-full max-w-lg" id="title" name="title" value="<%= post.title %>"/>
                      </div>
                    </div>
      
      
                    <div class="form-control">
                      <label for="summary" class="label">
                        <span class="label-text">Summary</span>
                      </label> 
                      <textarea class="textarea textarea-primary" rows="2" placeholder="Review Summary" id="summary" name="summary"><%= post.summary %></textarea>
                    </div>

                    <div class="mt-4">
                      <h3 class="font-bold">Current Image for Review (See Below to Change)</h3>
                      <img class="img-fluid" src="<%= post.image %>" />
                      <%if(post.imageAuthor){ %>
                        <figcaption class="text-xs "><strong>Image is by </strong><%= post.imageAuthor %> and is located <a class="link link-accent" href="<%= post.imageSource %>">here</a></figcaption>
                      <%}%>
                    </div>

                    <div class="form-control">
                      <label for="imgUpload" class="label">
                        <span class="label-text">Image (.jpg, .jpeg, or .png supported)</span>
                      </label> 
                      <input type="file" class="form-control" id="imageUpload" name="file"/>
                    </div>
      
                    <div class="form-control w-full max-w-lg grid col-span-3">
                      <span class="">Image creditation info (if applicable)</span>
                      <label for="imageAuthor" class="label">
                        <span class="label-text">Image Author (name, company, or org)</span>
                      </label>
                      <input type="text" placeholder="Image Author" class="input input-bordered input-primary w-full max-w-lg text-sm" id="imageAuthor" name="imageAuthor"/>
                      <label for="imageSource" class="label">
                        <span class="label-text">Image Source (link)</span>
                      </label>
                      <input type="text" placeholder="Image Source" class="input input-bordered input-primary w-full max-w-lg text-sm" id="imageSource" name="imageSource"/>
                    </div>
        
                  </div>
                  <div class="bg-neutral-content px-4 py-3 text-right sm:px-6">
                    <!-- <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save</button> -->
                  </div>
                </div>
            </div>
          </div>
      </div>
      
        <div class="hidden sm:block" aria-hidden="true">
          <div class="py-5">
            <div class="border-t border-accent"></div>
          </div>
        </div>
      
        <!-- Second Section of the Form -->
        
        <div class="mt-10 sm:mt-0">
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
              <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6">Review Body</h3>
                <p class="mt-1 text-md">This is where you give personality to your review</p>
                <h4 class="mt-4 text-md">Questions you should answer in your review</h4>
                <ul class="mt-2 text-sm">
                  <li>Why are you sharing this review?</li>
                  <br>
                  <li>What did you like?</li>
                  <br>
                  <li>What did you dislike?</li>
                  <br>
                  <li>What is the recommended audience?</li>
                  <br>
                  <li>What is the amount of time invested(if applicable)?</li>
                  <br>
                  <li>Was this something in line with your usual interests or was it different?</li>
                </ul>
              </div>
            </div>
            <div class="mt-5 md:col-span-2 md:mt-0">
                <div class="bg-neutral overflow-hidden shadow sm:rounded-md">
                  <div class="px-4 py-5 sm:p-6">
                    <div class="">
                      <div class="form-control">
                        <label for="review" class="label">
                          <span class="label-text">Review</span>
                        </label> 
                        <textarea class="textarea textarea-primary" placeholder="Review" rows="10" id="review" name="review"><%- post.review %></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="bg-neutral-content px-4 py-3 text-right sm:px-6">
                    <!-- <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save</button> -->
                  </div>
                </div>
              <script>
                CKEDITOR.replace( 'review' );
            </script>
            </div>
          </div>
        </div>
        
        <div class="hidden sm:block" aria-hidden="true">
          <div class="py-5">
            <div class="border-t border-accent"></div>
          </div>
        </div>
      
      
        <!--Third Section of the Form -->
      
        <div class="mt-10 sm:mt-0">
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
              <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6">Rating and Category</h3>
                <p class="mt-1 text-md">Categorize your review and give a rating</p>
              </div>
            </div>
      
      
            <div class="mt-5 md:col-span-2 md:mt-0">
                <div class="bg-neutral overflow-hidden shadow sm:rounded-md">
                  <div class="space-y-6 px-4 py-5 sm:p-6">
                    <div class="form-control w-full max-w-xs">
                      <label for="category" class="label">
                        <span class="label-text">Category</span>
                      </label>
                      <select class="select select-primary" id="category" name="category">
                        <option disabled selected>Pick a category</option>
                        <option value="Food and Drink" <%= post.category == 'Food and Drink' ? 'selected' : ''%>>Food and Drink</option>
                        <option value="Experience" <%= post.category == 'Experience' ? 'selected' : ''%>>Experience</option>
                        <option value="Gaming" <%= post.category == 'Gaming' ? 'selected' : ''%>>Gaming</option>
                        <option value="Movie" <%= post.category == 'Movie' ? 'selected' : ''%>>Movie</option>
                        <option value="Music" <%= post.category == 'Music' ? 'selected' : ''%>>Music</option>
                        <option value="Podcast" <%= post.category == 'Podcast' ? 'selected' : ''%>>Podcast</option>
                        <option value="Product" <%= post.category == 'Product' ? 'selected' : ''%>>Product</option>
                        <option value="Restaurant" <%= post.category == 'Restaurant' ? 'selected' : ''%>>Restaurant</option>
                        <option value="Service" <%= post.category == 'Service' ? 'selected' : ''%>>Service</option>
                        <option value="TV Show" <%= post.category == 'TV Show' ? 'selected' : ''%>>TV Show</option>
                        <option value="Venue" <%= post.category == 'Venue' ? 'selected' : ''%>>Venue</option>
                      </select>
                    </div>
      
                    <div class="form-control w-full max-w-xs"> 
                      <label for="rating" class="label">
                        <span class="label-text">Rating</span>
                      </label>
                      <div class="rating rating-lg rating-half">
                        <input type="radio" name="rating" value="0" class="rating-hidden" />
                        <input type="radio" name="rating" value="1" class="bg-yellow-500 mask mask-star-2 mask-half-1" <%= post.rating == '1' ? 'checked' : ''%> />
                        <input type="radio" name="rating" value="2" class="bg-yellow-500 mask mask-star-2 mask-half-2" <%= post.rating == '2' ? 'checked' : ''%>/>
                        <input type="radio" name="rating" value="3" class="bg-yellow-500 mask mask-star-2 mask-half-1" <%= post.rating == '3' ? 'checked' : ''%> />
                        <input type="radio" name="rating" value="4" class="bg-yellow-500 mask mask-star-2 mask-half-2" <%= post.rating == '4' ? 'checked' : ''%>/>
                        <input type="radio" name="rating" value="5" class="bg-yellow-500 mask mask-star-2 mask-half-1" <%= post.rating == '5' ? 'checked' : ''%>/>
                        <input type="radio" name="rating" value="6" class="bg-yellow-500 mask mask-star-2 mask-half-2" <%= post.rating == '6' ? 'checked' : ''%>/>
                        <input type="radio" name="rating" value="7" class="bg-yellow-500 mask mask-star-2 mask-half-1" <%= post.rating == '7' ? 'checked' : ''%>/>
                        <input type="radio" name="rating" value="8" class="bg-yellow-500 mask mask-star-2 mask-half-2" <%= post.rating == '8' ? 'checked' : ''%>/>
                        <input type="radio" name="rating" value="9" class="bg-yellow-500 mask mask-star-2 mask-half-1" <%= post.rating == '9' ? 'checked' : ''%>/>
                        <input type="radio" name="rating" value="10" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                      </div>
                    </div>
      
                    <!--  
                    <fieldset>
                      <legend class="sr-only">By Email</legend>
                      <div class="text-base font-medium text-gray-900" aria-hidden="true">By Email</div>
                      <div class="mt-4 space-y-4">
                        <div class="flex items-start">
                          <div class="flex h-5 items-center">
                            <input id="comments" name="comments" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                          </div>
                          <div class="ml-3 text-sm">
                            <label for="comments" class="font-medium text-gray-700">Comments</label>
                            <p class="text-gray-500">Get notified when someones posts a comment on a posting.</p>
                          </div>
                        </div>
                        <div class="flex items-start">
                          <div class="flex h-5 items-center">
                            <input id="candidates" name="candidates" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                          </div>
                          <div class="ml-3 text-sm">
                            <label for="candidates" class="font-medium text-gray-700">Candidates</label>
                            <p class="text-gray-500">Get notified when a candidate applies for a job.</p>
                          </div>
                        </div>
                        <div class="flex items-start">
                          <div class="flex h-5 items-center">
                            <input id="offers" name="offers" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                          </div>
                          <div class="ml-3 text-sm">
                            <label for="offers" class="font-medium text-gray-700">Offers</label>
                            <p class="text-gray-500">Get notified when a candidate accepts or rejects an offer.</p>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                     -->
                  </div>
                  <div class="bg-neutral-content px-4 py-3 text-right sm:px-6">
                    <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" value="Upload">Edit Review</button>
                  </div>
                </div>
            </div>
          </div>
      </div>
      </form>
     <!-- 
      <div class="grid grid-cols-2 gap-4 m-4">

        Form for submitting a review 
        
        <div class="mt-5">
          <h2 class="text-3xl font-bold">Edit your review</h2>
          <form action="/post/editPost/<%= //post.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
            
            <div class="form-control w-full max-w-xs">
              <label for="title" class="label">
                <span class="label-text">Title</span>
              </label>
              <input type="text" placeholder="Review Title" class="input input-bordered input-primary w-full max-w-xs" id="title" name="title" value="<%= //post.title %>"/>
            </div>

            <div class="form-control">
              <label for="summary" class="label">
                <span class="label-text">Summary</span>
              </label> 
              <textarea class="textarea textarea-primary" placeholder="Review Summary" id="summary" name="summary"><%= //post.summary %></textarea>
            </div>

            <div class="form-control">
              <label for="review" class="label">
                <span class="label-text">Review</span>
              </label> 
              <textarea class="textarea textarea-primary" placeholder="Review" id="review" name="review"><%= post.review %></textarea>
            </div>

            <div class="form-control w-full max-w-xs">
              <label for="category" class="label">
                <span class="label-text">Category</span>
              </label>
              <select class="select select-primary" id="category" name="category">
                <option disabled selected>Pick a category</option>
                <option value="Food and Drink" <%= //post.category == 'Food and Drink' ? 'selected' : ''%>>Food and Drink</option>
                <option value="Experience" <%= //post.category == 'Experience' ? 'selected' : ''%>>Experience</option>
                <option value="Gaming" <%= //post.category == 'Gaming' ? 'selected' : ''%>>Gaming</option>
                <option value="Movie" <%= //post.category == 'Movie' ? 'selected' : ''%>>Movie</option>
                <option value="Music" <%=// post.category == 'Music' ? 'selected' : ''%>>Music</option>
                <option value="Podcast" <%= //post.category == 'Podcast' ? 'selected' : ''%>>Podcast</option>
                <option value="Product" <%= //post.category == 'Product' ? 'selected' : ''%>>Product</option>
                <option value="Restaurant" <%= //post.category == 'Restaurant' ? 'selected' : ''%>>Restaurant</option>
                <option value="Service" <%= //post.category == 'Service' ? 'selected' : ''%>>Service</option>
                <option value="TV Show" <%= //post.category == 'TV Show' ? 'selected' : ''%>>TV Show</option>
                <option value="Venue" <%=// post.category == 'Venue' ? 'selected' : ''%>>Venue</option>
              </select>
            </div>

            <div class="form-control w-full max-w-xs"> 
              <label for="rating" class="label">
                <span class="label-text">Rating</span>
              </label>
              <div class="rating rating-lg rating-half">
                <input type="radio" name="rating" value="0" class="rating-hidden" />
                <input type="radio" name="rating" value="1" class="bg-yellow-500 mask mask-star-2 mask-half-1" />
                <input type="radio" name="rating" value="2" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                <input type="radio" name="rating" value="3" class="bg-yellow-500 mask mask-star-2 mask-half-1" checked />
                <input type="radio" name="rating" value="4" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                <input type="radio" name="rating" value="5" class="bg-yellow-500 mask mask-star-2 mask-half-1" />
                <input type="radio" name="rating" value="6" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                <input type="radio" name="rating" value="7" class="bg-yellow-500 mask mask-star-2 mask-half-1" />
                <input type="radio" name="rating" value="8" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
                <input type="radio" name="rating" value="9" class="bg-yellow-500 mask mask-star-2 mask-half-1" />
                <input type="radio" name="rating" value="10" class="bg-yellow-500 mask mask-star-2 mask-half-2" />
              </div>
            </div>

            <div class="mt-4">
              <h3 class="font-bold">Current Image for Review (See Below to Change)</h3>
              <img class="img-fluid" src="<%= //post.image%>" />
            </div>

            <div class="form-control">
              <label for="imgUpload" class="label">
                <span class="label-text font-bold text-secondary">Change Image</span>
              </label> 
              <input type="file" class="form-control" id="imageUpload" name="file"/>
            </div>
            <button type="submit" class="btn btn-primary mt-2" value="Upload">Submit</button>
          </form>
        </div>
        -->
      </div>
    </div>       
</div>       
<%- include('partials/footer') -%>