<%- include('partials/header') -%>
<div>
  <% if (messages.groupCreateSuccess) { %>
    <div class="alert alert-success shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span><%= messages.groupCreateSuccess %></span>
      </div>
    </div>
  <% } %>

  <% if (messages.success) { %>
    <div class="alert alert-success shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span><%= messages.success %></span>
      </div>
    </div>
  <% } %>

  <% if (messages.error) { %>
    <div class="alert alert-error shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span><%= messages.error %></span>
      </div>
    </div>
  <% } %>
  <div class="grid grid-cols-8">
    <div class="col-span-6 md:col-span-3 lg:col-span-2 border-2 py-2 px-2">
      <h3 class="text-lg lg:text-2xl">Account Info</h3>
      <p class="text-xs lg:text-base"><strong>User Name</strong>: <%= user.userName  %></p>
      <p class="text-xs lg:text-base"><strong>Email</strong>: <%= user.email %></p>
    </div>
  </div>
</div>

<div class="grid grid-cols-12 mt-4">

  
  <div class="col-span-12 md:col-span-10">
      <div class="">

        <!-- Add member section of group page -->
        <% for(var t=0; t < group.moderators.length; t++) {%>
          <%if(group.moderators[t] == user.id){ %>
            <div class="border-2 border-secondary p-2">
              <h2 class="text-sm lg:text-base">Moderator Controls</h2>
              <div class="grid grid-cols-3 lg:grid-cols-6">
                <div class="col-span-1 lg:col-span-2">
                  <form action="/groups/addMember/<%= group._id %>?_method=PUT" method="POST">
                    <div class="form-control w-full max-w-xs">
                      <label for="username" class="label text-xs">Member Username</label>
                      <input type="text" placeholder="Member Username" class="input input-bordered input-primary w-full max-w-xs text-xs lg:text-base" id="username" name="username">
                    </div>
                    <button type="submit" class="btn btn-primary mt-2 text-xs lg:text-base">Add Member</button>
                  </form>
                  <a href="/groups/showGroupDelete/<%= group._id %>"><button class="btn btn-error mt-2 text-xs lg:text-base">Delete Group</button></a>
                </div>

                <div class="col-span-1 lg:col-span-2">
                  <form action="/groups/addMod/<%= group._id %>?_method=PUT" method="POST">
                    <div class="form-control w-full max-w-xs">
                      <label for="username" class="label text-xs lg:text-base">Mod Username</label>
                      <input type="text" placeholder="Add Moderator" class="input input-bordered input-primary w-full max-w-xs text-xs lg:text-base" id="username" name="username">
                    </div>
                    <button type="submit" class="btn btn-primary mt-2 text-xs lg:text-base">Add Mod</button>
                  </form>
                </div>

                <div class="col-span-1 lg:col-span-2">
                  <form action="/groups/removeMember/<%= group._id %>?_method=PUT" method="POST">
                    <div class="form-control w-full max-w-xs">
                      <label for="username" class="label text-xs lg:text-base">Member Username</label>
                      <input type="text" placeholder="Remove Member" class="input input-bordered input-primary w-full max-w-xs text-xs lg:text-base" id="username" name="username">
                    </div>
                    <button type="submit" class="btn btn-primary mt-2 text-xs lg:text-base">Remove Member</button>
                  </form>
                </div>
            </div>
          </div>
            <% } %>
          <%}%>
        

        <!-- Group information section -->
          <div>
            <div class="grid grid-cols-8">
              <div class="grid col-span-8 md:col-span-4">

                <div class="border-accent border-2 py-2 px-2">
                  <p class="text-xs lg:text-base"><strong>Group Name</strong>: <%= group.groupName %></p>
                  <p class="text-xs lg:text-base"><strong>Group Description</strong>: <%= group.groupDescription %></p>
                  <p class="text-xs lg:text-base"><strong>Group Creator</strong>: <%= group.createdByUser %></p>
                </div>
               

                <!-- Expandable Member Menu for Mobile View -->
                <div id="members-mobile" class="collapse collapse-plus">
                  <input type="checkbox" /> 
                  <div class="collapse-title text-base lg:text-xl font-medium">
                    Group Members
                  </div>
                  <div class="collapse-content"> 
                    <div class="overflow-x-auto">
                      <p class="text-center"><strong>Group Members</strong></p>
                      <table class="table w-full">
                        <!-- head -->
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Username</th>
                            <th>Reviews</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- rows -->
                          <% for(var i=0; i < group.members.length; i++) {%>
                          <tr class="hover">
                            <th><%= i + 1 %></th>
                            <td><a href="/post/show/<%= group.members[i]._id %>" class="link link-accent"><%= group.members[i].userName %></a>
                              <% for(var s=0; s < group.moderators.length; s++) { %>
                              <% if(group.moderators[s].equals(group.members[i]._id)) { %> 
                                <span class="badge badge-secondary">Mod</span> 
                                <% } %>
                              <% } %>
                            </td>
                            <td><%= group.members[i].posts.length %></td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="bg-primary mt-6 px-4 py-4 text-center sm:px-6 border-2">
              <h3 class="text-2xl lg:text-4xl font-bold">Group Members Latest Reviews</h3>
            </div>
              

              <!-- List of Reviews by each member of group. One for each member -->
              <ul id="group-reviews-laptop"  class="grid lg:grid-cols-2 2xl:grid-cols-3 place-items-center">
                <% for(var j=0; j<group.members.length; j++) {%>
                 <li class="mt-5">
                   <div class="card w-96 bg-base-300 shadow-xl">
                      <figure><img src="<%= group.members[j].posts[group.members[j].posts.length - 1].image%>" alt="review-card-image" /></figure>
                     <div class="card-body">
                       <a href="/post/<%= group.members[j].posts[group.members[j].posts.length - 1].id%>">
                         <h2 class="card-title"><%=group.members[j].posts[group.members[j].posts.length - 1].title%></h2>
                       </a>
                       <a href="/post/show/<%= group.members[j]._id%>" class="link link-accent">
                        <h3 class="card-title text-base">By <%=group.members[j].userName%></h2>
                      </a>

                      <!-- Review Badge and Rating  -->
                      <div>
                        <div class="badge badge-secondary"><%= group.members[j].posts[group.members[j].posts.length - 1].category %></div>
                        <ul class="rating rating-lg rating-half">
                          <% for(var k=1; k <= 10; k++) {%>
                            <% if (k % 2 == 0 && k <= group.members[j].posts[group.members[j].posts.length - 1].rating) { %>
                              <li class="bg-yellow-500 mask mask-star-2 mask-half-2">&nbsp;&nbsp;</li>
                          <% } %>
  
                            <% if (k % 2 != 0 && k <= group.members[j].posts[group.members[j].posts.length - 1].rating) { %>
                              <li class="bg-yellow-500 mask mask-star-2 mask-half-1">&nbsp;&nbsp;</li>
                          <% } %>
  
                            <% if (k % 2 == 0 && k > group.members[j].posts[group.members[j].posts.length - 1].rating) { %>
                              <li class="bg-gray-500 mask mask-star-2 mask-half-2">&nbsp;&nbsp;</li>
                          <% } %>
  
                            <% if (k % 2 != 0 && k > group.members[j].posts[group.members[j].posts.length - 1].rating) { %>
                              <li class="bg-gray-500 mask mask-star-2 mask-half-1">&nbsp;&nbsp;</li>
                          <% } %>
  
                          <% } %>
                        </ul>
                      </div>
                       <p><%=group.members[j].posts[group.members[j].posts.length - 1].summary%></p>
                       <div class="card-actions justify-end">
                         <a href="/post/<%= group.members[j].posts[group.members[j].posts.length - 1]._id %>" class="btn btn-primary">Read Review</a>
                       </div>
                     </div>
                   </div>
                 </li>
               <% } %>
             </ul>
             
             <!--Group Reviews for mobile view -->
             <ul id="group-reviews-mobile" class="grid lg:grid-cols-2 2xl:grid-cols-3 place-items-center">
              <% for(var j=0; j<group.members.length; j++) {%>
               <li class="mt-5">
                <div class="card w-96 bg-base-100 shadow-xl image-full">
                  <figure><img src="<%= group.members[j].posts[group.members[j].posts.length - 1].image%>" alt="review-card-image" /></figure>
                  <div class="card-body">
                    <a href="/post/<%= group.members[j].posts[group.members[j].posts.length - 1].id%>">
                      <h2 class="card-title"><%=group.members[j].posts[group.members[j].posts.length - 1].title%></h2>
                    </a>
                    <a href="/post/show/<%= group.members[j]._id%>" class="link link-accent">
                     <h3 class="card-title text-base">By <%=group.members[j].userName%></h2>
                    </a>

                   <!-- Review Badge and Rating  -->
                   <div>
                     <div class="badge badge-secondary"><%= group.members[j].posts[group.members[j].posts.length - 1].category %></div>
                     <ul class="rating rating-lg rating-half">
                       <% for(var k=1; k <= 10; k++) {%>
                         <% if (k % 2 == 0 && k <= group.members[j].posts[group.members[j].posts.length - 1].rating) { %>
                           <li class="bg-yellow-500 mask mask-star-2 mask-half-2">&nbsp;&nbsp;</li>
                       <% } %>

                         <% if (k % 2 != 0 && k <= group.members[j].posts[group.members[j].posts.length - 1].rating) { %>
                           <li class="bg-yellow-500 mask mask-star-2 mask-half-1">&nbsp;&nbsp;</li>
                       <% } %>

                         <% if (k % 2 == 0 && k > group.members[j].posts[group.members[j].posts.length - 1].rating) { %>
                           <li class="bg-gray-500 mask mask-star-2 mask-half-2">&nbsp;&nbsp;</li>
                       <% } %>

                         <% if (k % 2 != 0 && k > group.members[j].posts[group.members[j].posts.length - 1].rating) { %>
                           <li class="bg-gray-500 mask mask-star-2 mask-half-1">&nbsp;&nbsp;</li>
                       <% } %>

                       <% } %>
                     </ul>
                   </div>
                    <p><%=group.members[j].posts[group.members[j].posts.length - 1].summary%></p>
                    <div class="card-actions justify-end">
                      <a href="/post/<%= group.members[j].posts[group.members[j].posts.length - 1]._id %>" class="btn btn-primary">Read Review</a>
                    </div>
                  </div>
                </div>
               </li>
             <% } %>
           </ul>
          </div>
        </div>  
    </div>

    

    <!-- Group Members Section on Right of Page -->
    <div id="members-laptop" class="overflow-x-auto col-span-2 border-2 border-accent">
      <p class="text-center"><strong>Group Members</strong></p>
      <table class="table w-full">
        <!-- head -->
        <thead>
          <tr>
            <th>No.</th>
            <th>Username</th>
            <th>Reviews</th>
          </tr>
        </thead>
        <tbody>
          <!-- rows -->
          <% for(var i=0; i < group.members.length; i++) {%>
          <tr class="hover">
            <th><%= i + 1 %></th>
            <td><a href="/post/show/<%= group.members[i]._id %>" class="link link-accent"><%= group.members[i].userName %></a>
              <% for(var s=0; s < group.moderators.length; s++) { %>
              <% if(group.moderators[s].equals(group.members[i]._id)) { %> 
                <span class="badge badge-secondary">Mod</span> 
                <% } %>
              <% } %>
            </td>
            <td><%= group.members[i].posts.length %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

  </div>
</div>
<%- include('partials/footer') -%>