<%- include('partials/header') -%>
<div class="grid grid-cols-8">
  <div class="col-span-4 md:col-span-3 lg:col-span-2 border-2 py-2 px-2">
    <h3 class="text-2xl">Account Info</h3>
    <p><strong>User Name</strong>: <%= user.userName  %></p>
    <p><strong>Email</strong>: <%= user.email %></p>
  </div>
</div>

<!-- Form for creating a new group -->
<div class="mt-5">
  <h2>Create a Group</h2>
  <form action="/groups/createGroup" method="POST">

    <div class="form-control w-full max-w-xs">
      <label for="groupName" class="label">
        <span class="label-text">Group Name</span>
      </label>
      <input type="text" placeholder="Ex: OG Squad" class="input input-bordered input-primary w-full max-w-xs" id="groupName" name="groupName"/>
    </div>

    <div class="form-control">
      <label for="groupDescription" class="label">
        <span class="label-text">Group Description</span>
      </label> 
      <textarea class="textarea textarea-primary" placeholder="Ex: Group for best friends to share our reviews" rows="1" id="groupDescription" name="groupDescription"></textarea>
      <label class="label">
        <span class="label-text-alt"><strong>You will be able to add members once the group is created</strong></span>
      </label> 
    </div>

    <!-- <div class="form-control">
      <label for="members" class="label">
        <span class="label-text">Members (enter usernames seperated by comma)</span>
      </label> 
      <textarea class="textarea textarea-primary" placeholder="Example: Bob, Rick, James, Sarah..." id="members" name="members"></textarea>
    </div> -->
    <button type="submit" class="btn btn-primary mt-2">Create Group</button>
  </form>
</div>


<!-- We list the groups that are created by this user -->     
<div class="col-6 mt-6">
    <h3>Groups you have created:</h3>
    <ul class="row list-unstyled">
    <% for(var j=0; j<groupsCreated.length; j++) {%>
      <li class="col-6 justify-content-between mt-5">
        <a href="/groups/<%= groupsCreated[j]._id%>" class="link link-accent link-hover">
          <h3><%=groupsCreated[j].groupName%></h3>
        </a>
      </li>
    <% } %>
    </ul> 
</div>

  <!-- We list the groups that the user is a part of -->
  <div class="col-6 mt-6">
    <h3>Groups you are a member of:</h3>
    <ul class="row list-unstyled">
    <% for(var j=0; j<groups.length; j++) {%>
      <li class="col-6 justify-content-between mt-5">
        <a href="/groups/<%= groups[j]._id%>" class="link link-accent link-hover">
          <h3><%=groups[j].groupName%></h3>
        </a>
      </li>
    <% } %>
    </ul>
    <div class="row justify-content-center mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
    </div>  
  </div>
</div>
<%- include('partials/footer') -%>       