<%- include('partials/header') -%>
<div class="container mx-auto">
  <% if (messages.postEditSuccess) { %>
    <div class="alert alert-success shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span><%= messages.postEditSuccess %></span>
      </div>
    </div>
  <% } %>
  <div class="grid grid-rows-1 justify-items-center">
    <div class="">
      <div class="grid grid-rows-2 grid-cols-4 place-items-center">
        <img class="img-fluid col-start-2 col-span-2 row-span-2" src="<%= post.image%>" />
      </div>
      <div>
        <%if(post.imageAuthor){ %>
          <figcaption class="text-center text-xs "><strong>Image is by </strong><%= post.imageAuthor %> and is located <a class="link link-accent" href="<%= post.imageSource %>">here</a></figcaption>
        <%}%>
      </div>
      <h2 class="font-bold text-4xl text-center mt-4"><%= post.title %></h2>
      <div class="grid grid-cols-3 place-items-center">
        <div class="col-span-1">
          <form
            class="object-right"
            action="/post/likePost/<%= post.id %>?_method=PUT"
            method="POST"
          >
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
          </form>
          <h3 class="">Likes: <%= post.likes %></h3>
        </div>
        <div class="col-span-1 mt-5 text-center">
          <p class="text-lg font-semibold"><%= post.summary %></p>
          <p class="text-accent">By <%= post.user.userName %> on <%= post.createdAt.toDateString() %></p>
        </div>

        <!-- Delete Button on Right Side of the Post -->
        <div class="col-span-1 col-end-4">
          <%if(post.user.id == user.id){ %>
            <div class="grid grid-cols-1 place-items-center items-center">
              <a href="/post/showDelete/<%= post.id %>"><button class="btn btn-secondary fa fa-trash"></button></a>
              <h3 class="text-error">Delete Post</h3>
            </div>
          <%}%>
        </div>
      </div>
    </div>

    <div class="grid grid-rows-2 justify-items-center">
      <div class="row-span-1 badge badge-secondary">
        <%= post.category %>
      </div>

      <div class="row-span-1">
        <ul class="rating rating-lg rating-half">
          <% for(var j=1; j <= 10; j++) {%>
            <% if (j % 2 == 0 && j <= post.rating) { %>
              <li class="bg-yellow-500 mask mask-star-2 mask-half-2">&nbsp;&nbsp;</li>
          <% } %>

            <% if (j % 2 != 0 && j <= post.rating) { %>
              <li class="bg-yellow-500 mask mask-star-2 mask-half-1">&nbsp;&nbsp;</li>
          <% } %>

            <% if (j % 2 == 0 && j > post.rating) { %>
              <li class="bg-gray-500 mask mask-star-2 mask-half-2">&nbsp;&nbsp;</li>
          <% } %>

            <% if (j % 2 != 0 && j > post.rating) { %>
              <li class="bg-gray-500 mask mask-star-2 mask-half-1">&nbsp;&nbsp;</li>
          <% } %>

          <% } %>
        </ul>
      </div>
    </div>

    <div class="divider"></div>

    <!-- Review Body Goes Here -->
    <div class="grid grid-cols-6">
      <div class="col-span-1">

      </div>
      <div class="col-span-4">
        <p><%- post.review %></p>
      </div>
      <div class="col-span-1">

      </div>
    </div>
    
    <div class="grid grid-cols-6 gap-4 mt-5">
      <a class="btn btn-primary grid col-span-2 lg:col-span-1" href="/profile">Return to Profile</a>
      <%if(post.user.id == user.id){ %>
        <a class="btn btn-accent col-span-2 lg:col-span-1" href="/post/showEdit/<%= post.id %>">Edit Review</a>
        <%}%>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
