<%- include('partials/header') -%>
<div class="">
  <div class="mt-5">
    <div>
      <% if (messages.postCreateSuccess) { %>
        <div class="alert alert-success shadow-lg">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <span><%= messages.postCreateSuccess %></span> 
          </div>
        </div>
      <% } %>

      <% if (messages.groupCreateError) { %>
        <div class="alert alert-error shadow-lg">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <span><%= messages.groupCreateError %></span> 
          </div>
        </div>
      <% } %>

      <div class="grid grid-cols-8">
        <div class="col-span-4 md:col-span-3 lg:col-span-2 border-2 py-2 px-2">
          <h3 class="text-2xl">Account Info</h3>
          <p><strong>User Name</strong>: <%= user.userName %></p>
          <p><strong>Email</strong>: <%= user.email %></p>
        </div>
      </div>

      <div class="mt-6">
        <a class="btn btn-primary" href="/showCreatePost">Create Review</a>
        <a class="btn btn-primary" href="/groups">Create Group</a>
      </div>
    </div>

    <div class="bg-primary mt-6 px-4 py-4 text-center sm:px-6 border-2">
      <h3 class="text-4xl font-bold">Your Reviews</h3>
    </div>

      <div id="cards-laptop">
         <!-- Showing the list of reviews/posts for the logged in user -->
        <ul class="grid md:grid-cols-2 2xl:grid-cols-4 place-items-center">
           <% for(var i=0; i<posts.length; i++) {%>
            <li class="mt-5">
              <div class="card w-96 2xl:w-80  bg-base-300 shadow-xl">
                <figure><img src="<%= posts[i].image%>" alt="review-card-image" /></figure>
                <div class="card-body">
                  <a href="/post/<%= posts[i]._id%>">
                    <h2 class="card-title"><%=posts[i].title%></h2>
                  </a>
                  <div class="flex gap-2">
                    <div class="badge badge-secondary"><%= posts[i].category %></div>
                    <div class="">
                      <ul class="rating rating-lg rating-half">
                        <% for(var j=1; j <= 10; j++) {%>
                          <% if (j % 2 == 0 && j <= posts[i].rating) { %>
                            <li class="bg-yellow-500 mask mask-star-2 mask-half-2">&nbsp;&nbsp;</li>
                        <% } %>

                          <% if (j % 2 != 0 && j <= posts[i].rating) { %>
                            <li class="bg-yellow-500 mask mask-star-2 mask-half-1">&nbsp;&nbsp;</li>
                        <% } %>

                          <% if (j % 2 == 0 && j > posts[i].rating) { %>
                            <li class="bg-gray-500 mask mask-star-2 mask-half-2">&nbsp;&nbsp;</li>
                        <% } %>

                          <% if (j % 2 != 0 && j > posts[i].rating) { %>
                            <li class="bg-gray-500 mask mask-star-2 mask-half-1">&nbsp;&nbsp;</li>
                        <% } %>

                        <% } %>
                      </ul>
                    </div>
                  </div>
                  <p><%=posts[i].summary%></p>
                  <div class="card-actions justify-end">
                    <a href="/post/<%= posts[i]._id%>" class="btn btn-primary">Read Review</a>
                  </div>
                </div>
              </div>
            </li>
          <% } %>
        </ul>
      </div>

        <!-- Show smaller cards for mobile view -->
      <div id="cards-mobile">
        <ul class="grid md:grid-cols-2 2xl:grid-cols-4 place-items-center">
          <% for(var i=0; i<posts.length; i++) {%>
           <li class="mt-5">
          <div class="card w-96 bg-base-100 shadow-xl image-full">
            <figure><img src="<%= posts[i].image%>" alt="review-card-image" /></figure>
            <div class="card-body">
              <a href="/post/<%= posts[i]._id%>">
                <h2 class="card-title"><%=posts[i].title%></h2>
              </a>
              <div class="">
                <ul class="rating rating-lg rating-half">
                  <% for(var j=1; j <= 10; j++) {%>
                    <% if (j % 2 == 0 && j <= posts[i].rating) { %>
                      <li class="bg-yellow-500 mask mask-star-2 mask-half-2">&nbsp;&nbsp;</li>
                  <% } %>

                    <% if (j % 2 != 0 && j <= posts[i].rating) { %>
                      <li class="bg-yellow-500 mask mask-star-2 mask-half-1">&nbsp;&nbsp;</li>
                  <% } %>

                    <% if (j % 2 == 0 && j > posts[i].rating) { %>
                      <li class="bg-gray-500 mask mask-star-2 mask-half-2">&nbsp;&nbsp;</li>
                  <% } %>

                    <% if (j % 2 != 0 && j > posts[i].rating) { %>
                      <li class="bg-gray-500 mask mask-star-2 mask-half-1">&nbsp;&nbsp;</li>
                  <% } %>

                  <% } %>
                </ul>
              </div>
              <p><%=posts[i].summary%></p>
              <div class="card-actions justify-end">
                <a href="/post/<%= posts[i]._id%>" class="btn btn-primary">Read Review</a>
              </div>
            </div>
          </div>
           </li>
         <% } %>
       </ul>
      </div>


      

      <!-- <div class="grid grid-cols-2 gap-4 mt-8"> -->
         <!-- We list the groups that are created by this user -->
      
        <!-- <div class="col-6">
          <h3>Groups you have created:</h3>
          <ul class="row list-unstyled">
          <% /* for(var j=0; j<groupsCreated.length; j++) { */ %> 
            <li class="col-6 justify-content-between mt-5">
              <a href="/groups/<%= /* groupsCreated[j]._id */ %>" class="link link-accent link-hover">
                <h3><%= /* groupsCreated[j].groupName */ %></h3>
              </a>
            </li>
          <% /* } */%>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
          </div>  
        </div> -->

        <!-- We list the groups that the user is a part of -->

        <!-- <div class="col-6">
          <h3>Groups you are a member of:</h3>
          <ul class="row list-unstyled">
          <% /* for(var j=0; j<groups.length; j++) { */%>
            <li class="col-6 justify-content-between mt-5">
              <a href="/groups/ <% /*= groups[j]._id */%>" class="link link-accent link-hover">
                <h3><%= /*groups[j].groupName */%></h3>
              </a>
            </li>
          <% /* } */ %>
          </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
          </div>   
        </div>   -->

      <!-- </div>   -->
           
  </div>
</div>
<%- include('partials/footer') -%>